.blueprintStatusTracker {
    background-color: #182328;

    border: 1px solid #2E4349;
    border-radius: 15px;

    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 12px;

    height: fit-content;
    width: 100%;
    box-sizing: border-box;
}

.blueprintStatusTrackerMobile {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

.title {
    color: #FFF;
    font-family: Prohibition;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.statusImage {
    width: 100%;
    height: auto;
}

.statusImageMobile {
    width: 85%;
    height: auto;
}

.lastUpdated {
    color: #FFF;
    font-family: "Acumin Pro";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    align-self: flex-end;
}

.currentStatus {
    color: #FFF;
    font-family: Erbaum;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 15px;
    width: fit-content;

    padding: 6px;

    .deliveryStatus {
        font-weight: 1000;
        text-transform: uppercase;
    }
}

.mobileDeliveryStatus {
    font-family: Erbaum;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 15px;
    width: 80%;
    font-weight: 1000;
    text-transform: uppercase;
    text-align: center;

    padding: 6px;
}

.cardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
}


.buyABlueprint {
    background-color: #1AE069;

    border-radius: 25px;

    height: 92px;

    display: flex;
    flex-direction: row;
    align-items: center;

    width: fit-content;
}

.buyABlueprint:hover {
    cursor: pointer;
    background-color: #58f095;
}

.buyABlueprintText {
    color: #04121C;
    font-family: Prohibition;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;

    width: 150px;

    margin-left: -10px;
}

.currentWaitTime {
    background-color: #00B1FF;

    border-radius: 25px;

    height: 92px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    flex: 1 1 180px;
    min-width: 0;

    padding: 0 14px;
}

.waitTimeLabelMobile {
    color: #FFF;
    font-family: Prohibition;
    font-size: 20.67px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.waitTimeMobile {
    color: #28ABE2;
    font-family: Prohibition;
    font-size: 56.67px;
    font-style: normal;
    font-weight: 400;
    line-height: 0.8;
}

.waitTimeText {
    color: #04121C;
    text-transform: uppercase;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.waitTimeTextTitle {
    font-family: "Acumin Pro ExtraCondensed";
    font-size: 20px;
    font-weight: 700;
}

.waitTimeTextValue {
    font-family: Prohibition;
    font-size: 40px;
    font-weight: 400;
    line-height: 0.8;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.submitTicket, .dynastyCommunity {
    flex: 1 1 0;
    min-width: 0;

    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;

    min-height: 48px;
    background-color: #182328;

    text-transform: uppercase;

    color: #FFF;
    font-family: Prohibition;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.05;

    border: #FFF 2px solid;
    border-radius: 15px;

    padding: 6px 10px;
}

.submitTicketText, .dynastyCommunityText {
    padding-bottom: 2px;
    text-align: center;
}

.submitTicket:hover, .dynastyCommunity:hover {
    cursor: pointer;
    background-color: #50585d;
}

.mobileButtonRow {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.buyABlueprintButtonMobile {
    width: 122px;
    height: 117px;
    border-radius: 18px;
    background: #1AE069;
}

.openTicketMobile {
    width: 122px;
    height: 117px;
    border-radius: 18px;
    background: #F47F20;
}

.discordButtonMobile {
    width: 122px;
    height: 117px;
    border-radius: 18px;
    background: #B139E2;
}

.faqButtonMobile {
    width: 122px;
    height: 117px;
    border-radius: 18px;
    background: #E84D57;
}

.buttonContainerMobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px
}

.buttonLabelMobile {
    color: #FFF;
    text-align: center;
    font-family: "Acumin Pro ExtraCondensed";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}